.dashboard-card {
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .MuiCardContent-root {
        background-color: #e6e8e6;
    }
}

.card-title {
    text-align: center;
    background-color: #30597f;
    span {
        font-size: 1rem;
        color: #f5f8fc;
        font-weight: 600;
    }
}

.card-indicators-content {
    min-height: 100%;
    min-width: 100%;
    padding: 1rem !important;
}

.card-value {
    display: flex;
    justify-content: center;
    &.MuiTypography-root {
        font-size: 1.5rem !important;
        font-weight: 600 !important;
    }
    color: #30597f;
}